// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.main-content {
  min-height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.v-select {
  .dropdown-toggle {
    border: none !important;
  }
  .open-indicator {
    bottom: 10px !important;
  }
  .selected-tag {
    position: absolute;
    z-index: 1;
    color: #212121 !important;
    font-size: 20px;
    margin-top: 20px !important;
    border: none !important;
    background: none !important;
    line-height: 30px !important;
  }
  &.open {
    .open-indicator {
      bottom: 5px !important;
    }
    .selected-tag {
      color: transparent !important;
    }
  }
  input[type=search],
  input[type=search]:focus {
    float: none !important;
    padding: 0 2px !important;
    margin-top: 21px !important;
    border: none !important;
    border-bottom: 2px solid #eee !important;
    width: 100% !important;
  }
  + label {
    color: #777;
    position: relative;
    bottom: 27.5px;
    left: 8px;
    font-size: 20px;
    transition: all .2s;
    height: 0px;
    display: block;
    cursor: text;
  }
  &.open, &.is-not-empty {
    + label {
      color: #C32A22;
      bottom: 50px;
      font-size: 16px;
      cursor: default;
    }
  }
  &.open {
    > .dropdown-menu {
      display: block;
    }
  }
  > .dropdown-menu {
    list-style: none;
    padding: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    display: none;
    li {
      padding: 0;
      a {
        display: block;
        padding: 10px;
        width: 100%;
      }
      &.active {
        background-color: #C32A22;
        a {
          color: #FFF;
        }
      }
      &:hover, &.highlight {
        background-color: #f0f1f2;
        a {
          color: inherit;
          background: inherit;
        }
      }
    }
  }
}

@media (min-width: 1160px) {
  ul.list.sortable-list {
    li {
      &:hover {
        background: rgba(0, 50, 100, .02);
      }
      .list-item-divider {
        display: none;
      }
      .list-item-buttons {
        position: relative;
        z-index: 1;
      }
      .sortable-handle {
        transform: none;
        display: block;
        margin: -10px 0 -45px 0;
        width: 100%;
        position: relative;
        z-index: 0;
        &:before {
          content: "";
        }
      }

    }
  }
}

ul.list li.setlistsong .list-item-content.single-line {
  max-width: calc(100% - 145px);
  max-width: -webkit-calc(100% - 145px); /** Safari 6, Chrome 19-25 **/
  max-width: -moz-calc(100% - 145px); /** FF 4-15  **/
  overflow: hidden;
  white-space: nowrap;
}

.main-menu-user{
  .dropdown-menu.active .dropdown-content{
    margin-left: -180px;
    margin-right: -173px;
    @media (min-width: 1160px) {
      margin-left: -50px;
      margin-right: -40px;
    }
  }
}

.main-menu-band{
  .dropdown-menu.active .dropdown-content{
    margin-left: -40px;
    margin-right: -40px;
  }
}

.navbar ul li.dropdown-menu .fa-chevron-down{
  font-size: 12pt;
}

.navbar ul li.dropdown-menu .dropdown-content li:last-child{
  border-bottom: none;
}